.player{
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 234px;
    display: inline-block;
    margin: 1%;
    background-color: darkgoldenrod;
    font-weight: bold;
}
.number{
    width: 50%;
    margin-top: 5%;
    margin-left: 21%;

}

.cardback{
    position: absolute;
    width: 150px;
    height: 200px;
}

.cardback img{
    position: relative;
    width: 95%;
    height: 96%;
    margin-top: 16px;

}
.cardback > div{
    position: absolute;
    display: inline-block;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    margin: 1% auto 1% auto;
    font-size: 50px;
}
.notThisTurn > div{
    color: whitesmoke;
}
.thisTurn > div{
    color: crimson;
}